input[type="submit"] {
  background-color: rgb(50, 150, 250);
  color: rgb(145, 12, 150);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

input[type="submit"]:hover {
  background-color: rgb(30, 120, 200);
}

.contact-info {
  margin-top: 40px;
}

.contact-info h2 {
  margin-bottom: 10px;
  color: rgb(190, 12, 12);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.contact-info p {
  margin-bottom: 20px;
  color: rgb(7, 57, 182);
}

.contact-info ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact-info li {
  margin-bottom: 10px;
}

.contact-info a {
  text-decoration: none;
  color: rgb(162, 155, 19);
}

.contact-info a:hover {
  color: rgb(30, 120, 200);
}
.contact-container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.contact-container {
  width: 800px;
}
